.cabinet__wrapper {
    padding-top: 120px;
}

.cabinet__content {
    padding: 24px;
    width: 100%;
    max-width: 95vw;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #242535;
    border-radius: 10px;
}

.signOut__btn {
    padding: 12px 22px;
    background-color: #FFC400;
    border-radius: 20px;
}