.header {
    padding: 10px 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.466);
    position: fixed;
    z-index: 100;
    width: 100%;
    background: #242535;
}

.burger {
    padding: 20px 10px;
    width: 50px;
    cursor: pointer;
}

.burger_menu {
    width: 31px;
    position: relative;
    height: 5px;
    background-color: #fff;
    border-radius: 2.5px;
    &::after {
        width: 31px;
        position: absolute;
        height: 5px;
        background-color: #fff;
        border-radius: 2.5px;
        content: '';
        top: 11px;
    }
    &::before {
        width: 31px;
        position: absolute;
        height: 5px;
        background-color: #fff;
        border-radius: 2.5px;
        content: '';
        top: -11px;
    }
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left__section {
    display: flex;
    align-items: center;
    gap: 60px;
}


.nav__links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header__link {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    padding: 10px 20px;
    position: relative;
    &::before {
        position: absolute;
        content: '';
        width: 0%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -10px;
        transition: width .3s ease-in-out;
    }
    &::after {
        position: absolute;
        content: '';
        width: 0%;
        height: 10px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
        opacity: 0;
        left: 0;
        bottom: -8px;
        transition: width .3s ease-in-out, opacity .3s ease-in-out;
    }
    &:hover::before {
        width: 100%;
    }
    &:hover::after {
        opacity: 1;
        width: 100%;
    }
}

.right__section {
    display: flex;
    gap: 20px;
}

.login__btn {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    padding: 12px 36px;
    border: 2px solid #FFC400;
    transition: background .2s ease-in-out, color .2s ease-in-out;
    border-radius: 8px;
    &:hover {
        background-color: #ffd341;
        color: #000;
    }
}

.registration__btn {
    font-weight: 700;
    font-size: 14px;
    background-color: #FFC400;
    line-height: 21px;
    color: #000;
    padding: 12px 30px;
    border-radius: 8px;
    transition: background .2s ease-in-out, color .2s ease-in-out;
    &:hover {
        background-color: rgb(255, 232, 99);
        color: #000;
    }
}

.header__link__burger {
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    line-height: 29px;
    padding: 10px 20px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.burger__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    p {
        font-size: 14px;
        font-weight: 800;
    }
}
.burger__img {
    margin-top: 30px;
    margin-bottom: 20px;
}

.header__user {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header__user_auth {
    display: none;
    gap: 15px;
    align-items: center;
}

@media (max-width:1170px) {
    .nav__links {
        display: none;
    }

    .header__user_auth {
        display: flex;
    }
    .header__user_balance {
        display: none;
    }
    .left__section {
        justify-content: space-between;
        width: 100%;
        gap: 0;
    }
}

.unauth_header_div {
    gap: 20px;
    display: flex;
}

.copyrighting {
    opacity: 0.6;
    margin-top: 40px;
}

.header__logo {
    width: 110px;
    height: 55px;
}

@media (max-width:1170px) {
    .header {
        padding: 5px 0px;
    }
    .header__logo {
        width: 100px;
        height: 45px;
    }
        .unauth_header_div {
            display: none;
        }
}



.header__user_balance {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    &::after {
        position: absolute;
        content: '';
        bottom: -7px;
        left: 0;
        background-color: #fff;
        width: 100%;
        height: 2px;
    }
}

.header__user_dep {
    padding: 10px 25px;
    background-color: #FFC400;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    border-radius: 20px;
}

.person__link {
    padding: 10px;
    border: 1px solid #000;
    background-color: #FFC400;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 400px) {
    .header__user_dep {
        display: none;
    }
}

.signOut__btn {
    padding: 12px 22px;
    background-color: #FFC400;
    border-radius: 20px;
    cursor: pointer;
    color: #000;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.person__menu__email {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    div {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #FFC400;
        border: 2px solid rgb(255, 255, 255);
    }
}

.burger__balance {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    &::after {
        content: '';
        display: block;
        bottom: -4px;
        height: 2px;
        width: 100%;
        position: absolute;
        background-color: #fff;
        left: 0;
    }
}

.person__header {
    display: flex;
    justify-content: space-between;
}

.profile__depo {
    padding: 12px 22px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #FFC400;
    font-weight: 600;
    color: #000;
}

.profile__link_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.profile__link_wrapper_without_top {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.profile__bonuses_link {
    background-color: transparent;
    padding: 12px 36px;
    border-radius: 15px;
    color: #fff;
    font-weight: 600;
    border: 2px solid #FFC400;
}